[submodule "src/960-Grid-System"]
	path = src/960-Grid-System
	url = https://github.com/nathansmith/960-Grid-System.git
[submodule "src/elRTE"]
	path = src/elRTE
	url = https://github.com/Studio-42/elRTE.git
