<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>[% title %]</title>
<link rel="stylesheet" type="text/css" media="all" href="/static/960gs/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/960gs/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/960gs/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/960gs/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/css/base.css" />
<link rel="stylesheet" href="/static/jquery/css/redmond/jquery-ui-1.8.11.custom.css" />
<link rel="stylesheet" href="/static/jquery/css/hot-sneaks/jquery-ui-1.8.11.custom.css" />
<script type="text/javascript" src="/static/jquery/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/static/jquery/js/jquery-ui-1.8.11.custom.min.js"></script>
<style>
#menu li {
	padding: 5px;
	margin:0px;
	list-style: none;
	display: inline-block;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
	$("#menu li a").button();
});
</script>
</head>
<body>
<div id="header" class="container_12">
	<div class="grid_4 redmond">
		<div class="ui-state-default ui-corner-all" style="text-align: center;">
			<h1><a href="/">We Love Blog</a></h1>
		</div>
	</div>
	<div class="grid_8 hot-sneaks">
		<div>
			<ul id="menu">
                [% IF c.user_exists %]
                <li><a href="[% c.uri_for('/dashboard') %]">Dashboard</a></li>
                [% END %]
                <li><a href="[% c.uri_for('/blog') %]">Blog</a></li>
                <li><a href="#">About us</a></li>
                [% IF c.user_exists %]
                <li><a href="[% c.uri_for('/logout') %]">Logout</a></li>
                [% END %]
            </ul>
        </div>
    </div>
</div>
<div id="body" class="container_12">
    <div class="grid_9 redmond" style="margin-top: 20px;">
        <div style="min-height:400px;">
        [% content %]
        </div>
    </div>
    <div class="grid_3 hot-sneaks" style="margin-top: 20px;">
        <div class="ui-widget-content ui-corner-all" style="min-height:400px;">
        </div>
    </div>

</div>
<div id="footer" class="container_12">
    <div class="grid_12 ui-state-default" style="height:100px; margin-top: 20px;">
        [% footer %]
    </div>
</div>
</body>
</html>