<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form action="" method="post">
    <table>
        <tr>
            <td>
                Title   :
            </td>
            <td>
                <input type="text" name="title" size="85"/>
            </td>
        </tr>
        <tr>
            <td>
                Content    :
            </td>
            <td>
                <textarea name="content" rows="10" cols="100"></textarea>
 
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" value="Create" />
            </td>
        </tr>
    </table>      
</form>

</body>
</html>