[% IF entry %]
<div>
    <h3 class="entry-title" style="display: inline;">
        [% entry.title %]
    </h3>
    <hr />
    <div class="content" id="content">
        [% entry.content %]
    </div>
    <div class="entry-author">
        <h5 class="">Post by : [% entry.users.username %] <span>[% entry.created %]</span></h5>
    </div>
</div>
[% ELSE %]
<div class="error_msg">
      <span class="error" styles="color:red;">[% error_msg %]</span>
</div>
[% END %]